<!DOCTYPE html>
<html>
    <head>
        <!-- Make site responsive on mobile/tablet -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/97d6dfb374.js"></script>
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>
    <body>
        

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">YelpCamp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="<%= typeof page !== 'undefined' && page === 'campgrounds' ? 'active' : '' %>"><a class="nav-link" href="/campgrounds">Home</a></li>
              </ul>
               <ul class="navbar-nav">
                  <% if(!currentUser){ %>
                      <li class="nav-item <%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a class="nav-link" href="/login">Login</a></li>
                      <li class="nav-item <%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a class="nav-link" href="/register">Sign Up</a></li>
                  <% } else { %>
                  
                  
                  
                        <li class="nav-item dropdown">
                          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Notifications <span class="badge badge-secondary"><%= notifications.length %></span></a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/notifications">View past notifications</a>
                                <% if (notifications.length > 0) { %>
                                    <div class="dropdown-divider"></div>
                                <% } %>
                                <% notifications.forEach(function(notification) { %>                          
                                    <a class="dropdown-item" href="/notifications/<%= notification.id %>">
                                        <%= notification.username %> created a new campground
                                    </a>
                                <% }); %>
                          </div>
                        </li>
                        
                        
                        
                      <li class="nav-item"><a class="nav-link" href="#">Signed In As <%= currentUser.username %></a></li>
                      <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                  <% } %>
              </ul>
          </div>
      </div>
    </nav>
    <div class="container">
        <% if (error && error.length > 0){ %>
            <div class="alert alert-danger my-2" role="alert">
                <%= error %>
            </div>    
        <% } %>
        <% if (success && success.length > 0){ %>
            <div class="alert alert-success my-2" role="alert">
                <%= success %>
            </div>    
        <% } %>
    </div>
    <div class="container">